.account-design {
  color: white;
  background: rgb(0, 37, 62);
  background: linear-gradient(
    90deg,
    rgba(0, 37, 62, 1) 0%,
    rgba(0, 48, 82, 1) 23%,
    rgba(0, 64, 109, 1) 31%,
    rgba(0, 76, 131, 1) 100%
  );
}
